@import 'index.css';
@import 'Nav.css';
@import 'MainPost.css';
@import 'MainNav.css';
@import 'MainBody.css';
@import 'RightCard.css';
@import 'Post.css';
@import 'Login.css';
@import 'SelectedPost.css';
@import 'DarkMode.css';
@import 'Search.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  max-height:7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Hidden{
  visibility: hidden;
  display:none;
}
.disabled{
  pointer-events:none;
}

.Background{
  z-index: 1 !important;
}

.Main-Div-Outer{
  background-color: rgb(211, 211, 211);
  min-height:100vh !important;
  min-height:100% !important;
  margin:0;
}

.Opaque{
  opacity: 0.5;
  overflow: hidden;
  pointer-events: none;
}

.Stop{
  background-color: white;
  height:50rem;
  margin-top:5vh;
  z-index:9998;
}

.Important{
  z-index: 9999 !important;
}

.Stop-Link{
  text-decoration: none;
  color:black;
}

.Stop-Link:hover{
  cursor:pointer;
  text-decoration: underline;
}




