
.Main-Div{
  display: flex;
  flex-direction: column;
  min-height:100vh !important;
}
.Main-Body-Div{
  margin-top:2rem;
  min-height:100vh;
  width:95%;
}
.Main-Body-Card-Outer{
  display:grid;
  grid-template-columns: 0.1fr 1.9fr;
}
.Main-Body-Card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border:1px solid black;
  border-left:1px solid lightgray;
  margin-bottom:1rem;
  background-color: white;
}
.Main-Body-Card-Title{
  width:100%;
  font-size: 1.5rem;
  text-align: left;
  margin-left:1rem;
}
.Main-Body-Card-Body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.Main-Body-Card-Picture{
  min-height:30rem;
  max-height:30rem;
  min-width:75%;
  max-width:75%;
  border:1px solid black;
  align-self: center;
}

.Main-Body-Card-Text{
  min-height:0rem;
  max-height:10rem;
  min-width:0rem;
  max-width:90%;
  margin-left:1rem;
  margin-top:3rem;
  text-align: left;
  color:rgb(100, 97, 97);
}

.Main-Body-Card-Url{
  min-height:0rem;
  max-height:10rem;
  min-width:0rem;
  text-align: left;
  margin-left:1rem;
}

.Main-Body-Card-Url, :active :hover :visited{
  color:purple;
}

.Main-Body-Likes{
  min-width:1rem;
  min-height:2rem;
  line-height:2rem;
  background-color: rgb(238, 236, 236);
  margin-bottom:1rem;
  border:1px solid black;
  border-right:transparent;
  display:flex;
  flex-direction:column;
  align-items: center;
  font-weight: bolder;
}

.Main-Body-Like-Button{
  height:1.5rem;
  width:1.5rem;
  margin-top:1rem;
  border:1px solid transparent;
}

.Main-Body-Like-Button:hover{
  cursor: pointer;
  border:1px solid black;
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(170%)brightness(100%)contrast(150%);
}

.Main-Body-Dislike-Button{
  height:1.5rem;
  width:1.5rem;

}

.Main-Body-Dislike-Button:hover{
  cursor:pointer;
  border:1px solid black;
  filter:invert(40%) sepia(170%)hue-rotate(300deg) saturate(170%)brightness(100%)contrast(150%);
}

.Like-Submitted{
  pointer-events: none;
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(170%)brightness(100%)contrast(150%);
}

.Dislike-Submitted{
  pointer-events: none;
  filter:invert(40%) sepia(170%)hue-rotate(300deg) saturate(170%)brightness(100%)contrast(150%);
}

.Liked{
  color:rgb(22, 154, 236);
  font-weight:bolder;
}

.Disliked{
  color:lightcoral;
  font-weight:bolder;
}


@media(min-width:672px){
  .Main-Body-Card-Picture{
  }
}