.Main-Div-Outer{
  display:grid;
  grid-template-columns:1fr;
}

.Main-Div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

/* Small */ 
.Main-Header-Bar-Small{
  min-height:3.5rem;
  border-radius:3px;
  border:1px solid lightgray;
  width:100vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin-top:1rem;
  z-index: 1;
}


.Main-Header-Hot-Button{
  width:6rem;
  height:2.3rem;
  margin-left:1.5rem;
  border-radius: 30px;
  border:transparent;
  font-size: 1rem;
  line-height: 1rem;
  background-color: rgb(250, 248, 248);
  color:rgb(91, 91, 173);
  font-weight: bolder;
}

.Main-Header-Flame-Icon{
  height:1.3rem;
  width:1.3rem;
  margin-right:0.5rem;
  margin-left:-0.1rem;
  margin-bottom:-0.2rem;
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(170%)brightness(100%)contrast(150%);
}


.Main-Header-Arrow-Icon{
  height:1.3rem;
  width:1.3rem;
  margin-right:0.1rem;
  margin-left:-0.1rem;
  margin-bottom:-0.3rem;
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(110%)brightness(100%)contrast(150%);
}

.Main-Header-Hot-Button:hover{
  cursor:pointer;
}

.Main-Header-Hot-Button-Menu{
  position:absolute;
  height:2.5rem;
  width:12rem;
  border:1px solid lightgray;
  margin-top:2.5rem;
  margin-left:1.4rem;
  background-color: white;
  border-radius:5px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0.5px 0.5px 0.5px 1.5px lightgrey;
}

.Main-Header-Hot-Menu-Button{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  height:2.5rem;
  background-color: white;
  border: transparent;
  color:gray;
  margin-left: 0;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 2px;
}

.Hot-Menu-Header-Icon{
  height:1.1rem;
  width:1.1rem;
  margin-top:-0.1rem;
  margin-right:0.3rem;
  margin-left:-0.1rem;
  margin-bottom:-0.2rem;
  filter:invert(40%) sepia(100%)saturate(40%)
}

.Hot-Menu-Button-Clicked{
  color:rgb(91, 91, 173);
}

.Hot-Menu-Icon-Clicked{
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(170%)brightness(100%)contrast(150%);
}

.Main-Header-Hot-Menu-Button:hover{
  cursor: pointer;
  background-color: rgb(220, 237, 248);
}

/*Large */

.Main-Header-Bar-Large{
  margin-top:1rem;
  min-height:3.5rem;
  border-radius:3px;
  border:1px solid lightgray;
  width:95vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.Main-Header-Large-Button{
  width:6rem;
  height:2.3rem;
  margin-left:1.5rem;
  border-radius: 30px;
  border:transparent;
  font-size: 1rem;
  line-height: 1rem;
  background-color: rgb(250, 248, 248);
  font-weight: bolder;
}

.Main-Header-Large-Icon{
  height:1.3rem;
  width:1.3rem;
  margin-right:0.5rem;
  margin-left:-0.1rem;
  margin-bottom:-0.2rem;
  
}

.Large-Button-Clicked{
  color:rgb(91, 91, 173);
}
.Large-Icon-Clicked{
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(170%)brightness(100%)contrast(150%);
}

.Main-Header-Large-Button:hover{
  cursor: pointer;
  background-color: rgb(241, 236, 236);
}

/* media queries */

@media(max-width:671px){
  .Main-Header-Bar-Large{
    display:none;
  }
  .Main-Header-Bar-Small{
    margin-left:0rem !important;
  }
}
@media(min-width:671px){
  .Main-Header-Bar-Small{
    display:none;
  }
  @media(min-width:960px){
    .Main-Div-Outer{
      display:grid;
      grid-template-columns: 2fr 1fr;
      grid-gap:2rem;
    }
    .Main-Header-Bar-Large{
      width:95%;
    }
  }
}

