
.Post-Main-Div{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color: rgb(226, 226, 226);
  min-height:100vh;
}
.Post-Header{
  text-align: left;
  margin-top:1rem;
  margin-left:2rem;
  border-bottom:1px solid white;
  width:90vw;
}
.Post-Header h3{
  font-weight: 400;
}

.Post-Content-Section{
  height:70vh;
  width:95vw;
  background-color: white;
  margin-top:1rem;
  margin-bottom:5rem !important;
  display: flex;
  flex-direction: column;
}

/* Button Nav */

.Post-Content-Button-Nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom:1px solid lightgray;
}
.Post-Content-Button-Nav :nth-child(2){
  margin-left:-0.1rem;
}

.Post-Content-Button-Nav :nth-child(3){
  margin-left:-0.1rem;
  margin-right:0rem;
  border-right:0px transparent;
}

.Post-Content-Button{
  height:4rem;
  line-height: 3rem;
  font-size:0.9rem;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border:transparent;
  border-right:0.1px solid lightgray;
  margin-left:0;
}

.Post-Content-Button:hover{
  cursor:pointer;
  background-color: rgb(220, 237, 248);
}
.Post-Content-Button span{
  margin-top:0.6rem;
}

.Post-Content-Icon{
  height:1.7rem;
  width:1.7rem;
  margin-top:0.5rem;
  margin-right:0.7rem;
}

.Post-Content-Button-Clicked{
  color:rgb(91, 91, 173);
  border-bottom:1px solid rgb(91, 91, 173);
}
.Post-Content-Icon-Clicked{
  filter:invert(40%) sepia(170%)hue-rotate(150deg) saturate(170%)brightness(100%)contrast(150%);
}

/* Body */

.Post-Content-Body{
  width:95vw;
  margin-top:0;
  margin-bottom:1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/* Body - Title */

.Post-Content-Title{
  display: flex;
  font-size: 1rem;
  height:2rem;
  min-width:85%;
  max-width:85%;
  margin-left:2rem;
  margin-top:1rem;
  padding-left: 1rem;
  border:1px solid lightgrey;
  border-radius:5px;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height:2rem;
  text-align: left;
  resize:none;
}

.Post-Content-Title:focus {
  outline:1px solid black;
  border-radius:5px;
}

.Post-Content-Title:hover{
  cursor:text
}
 
/* Body - Text */
.Post-Content-Text-Parent{
  height:15rem;
  margin-bottom:2rem;
}

.Post-Content-Text{
  display: flex;
  font-size: 1rem;
  min-height:15rem;
  min-width:85%;
  max-width:85%;
  background-color: white;
  margin-left:2rem;
  margin-top:1rem;
  padding-left: 1rem;
  border:1px solid lightgrey;
  border-radius:5px;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height:2rem;
  text-align: left;
  resize:none;
  margin-bottom:2rem !important;
}
.Post-Content-Text:focus{
  outline:1px solid black;
}

.Post-Content-Media{
  height:15rem;
  width:83vw;
  margin-top:1rem;
  margin-left:2rem;
  border:2px dotted rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Image-Test{
  height:12rem;
  width:12rem;
  margin-top:-1rem;
  border:1px solid gray;
}

.Remove-Image{
  height:1.6rem;
  width:5.4rem;
  font-size: 1rem;
  font-weight: bolder;
  margin-top:0rem;
  border-radius:20px;
  border:transparent;
  background-color: rgb(91, 91, 173);
  color:white;
}
.Remove-Image:hover{
  cursor: pointer;
  background-color: rgb(110, 110, 207);
}
.Upload-Image-Display{
  height:12rem;
  width:12rem;
}

.Upload-Button{
  color:white;
  font-size:0.8rem;
  font-weight: bolder;
  height:32px;
  padding:0.7rem;
  width:5rem;
  border-radius:20px;
  background-color: white;
  border: 2px solid rgb(91, 91, 173);
  color:rgb(91, 91, 173);
}

.Upload-Button:hover{
  cursor: pointer;
  background-color: rgb(246, 249, 252);
}

.Post-Content-Url{
  display: flex;
  font-size: 1rem;
  height:4rem;
  min-width:85%;
  max-width:85%;
  margin-left:2rem;
  margin-top:1rem;
  padding-left: 1rem;
  border:1px solid lightgrey;
  border-radius:5px;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height:2rem;
  text-align: left;
  resize:none;
}

.Post-Content-Url:focus{
  outline:1px solid black;
}


.Post-Content-Embed{
  display: flex;
  font-size: 1rem;
  height:4rem;
  min-width:85%;
  max-width:85%;
  margin-left:2rem;
  margin-top:1rem;
  padding-left: 1rem;
  border:1px solid lightgrey;
  border-radius:5px;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height:2rem;
  text-align: left;
  resize:none;
}

.Post-Content-Embed:focus{
  outline:1px solid black;
}



/* Body - Footer */

.Post-Content-Footer-Buttons{
  height:6rem;
  width:93.5%;
  border-top:1px solid lightgray;
  margin-top:1rem;
  margin-left:1rem;
  margin-right:1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
}

.Footer-Button{
  background-color: rgb(91, 91, 173);
  color:white;
  font-size:0.8rem;
  font-weight: bolder;
  height:32px;
  width:5rem;
  border-radius:20px;
}

.Footer-Button:hover{
  cursor: pointer;
}

.Post-Content-Footer-Buttons :nth-child(1){
  background-color: white;
  border: 1px solid rgb(91, 91, 173);
  color:rgb(91, 91, 173);
  border-radius:20px;
}

.Post-Content-Footer-Buttons :nth-child(1):hover{
  background-color: rgb(246, 249, 252);
}

.Post-Content-Footer-Buttons :nth-child(2){
  background-color: rgb(91, 91, 173);
  border:transparent;
  color:white;
  margin-left:0.4rem;
}

.Post-Content-Footer-Buttons :nth-child(2):hover{
  background-color: rgb(110, 110, 207);
}



/* Post Submitted */

.Post-Submitted{
  position:absolute;
  height:20rem;
  width:40rem;
  z-index:9990;
  box-shadow: 1px 4px 5px 1px black;
  background-color: white;
  margin-top:1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Success-Button{
  background-color: rgb(91, 91, 173);
  color:white;
  font-size:1.2rem;
  font-weight: bolder;
  height:40px;
  width:10rem;
  border-radius:20px;
  border:transparent;
  color:white;
}
.Success-Button:hover{
  background-color: rgb(110, 110, 207);
  cursor: pointer;
}

/* Queries */ 

@media screen and (max-width:400px){
  .Post-Content-Section{
    min-height:75vh;
    max-height:75vh;
  }
  .Post-Content-Icon{
    height:0.7rem;
    width:0.7rem;
  }
  .Post-Content-Button{
    font-size: 0.4rem;
  }
  .Post-Content-Footer-Buttons{
    margin-top:0.5rem;
  }
  .Post-Content-Title-Parent{
    margin-left:-1rem;
    max-width:95%;
  }
  .Post-Content-Text-Parent{
    margin-left:-1rem;
    max-width:95%;
  }
}

@media screen and (min-width:401px) and (max-width:510px){

  .Post-Content-Section{
    min-height:75vh;
    max-height:75vh;
  }
  .Post-Content-Icon{
    height:1rem;
    width:1rem;
  }
  .Post-Content-Button{
    font-size: 0.6rem;
  }
  .Post-Content-Footer-Buttons{
    margin-top:1.5rem;
  }
}

@media (min-width:700px){
  .Post-Content-Footer-Buttons{
    width:90%;
    margin-left:1.5rem;
  }
}

@media (min-width:1000px){
  .Post-Content-Footer-Buttons{
    width:88%;
    margin-left:1.5rem;
  }
}

@media (min-width:1400px){
  .Post-Content-Footer-Buttons{
      width:87%;
      margin-left:1.5rem;
  }
}
