
.Card-Div{
  height:0;
  width:0;
  border:1px solid gray;
  margin-right:10rem;
}
.Right-Card-Div{
  margin-top:4rem;
  width:20rem;
  height:30rem;
  border:1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px lightgrey;
  margin-left: -1rem;
  background-color: white;
}

.Right-Card-Div h1{
  color:rgb(252, 169, 121);
}

.Right-Card-Div h3{
  margin-bottom:2rem;
}

.Right-Card-Div p{
  line-height: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

@media (max-width:959px){
  .Card-Div{
    display:none;
  }
  .Right-Card-Div{
    display: none;
  }
}