.Search-Div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Search-Bar-Modal{
  position:absolute;
  background-color: white;
  color:red;
  text-align: left;
  margin-top:9rem;
  width:50vw;
  height:12rem;
  margin-left:5vw;
  text-align: left;
  border:1px solid black;
  overflow-y: hidden;
}

.Search-Bar-Modal-Text{

}
.Search-Bar-Modal-Text:hover{
  cursor:pointer;
}